/*Post View CSS*/

.postView{
	background-color: #a9a9a9;
	height: absolute;
}
.postViewContent{
	margin-top: 100px;
	margin-left: 80px;
	margin-right: 75px;
	text-align: center;
	padding: 40px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 24px 14px 59px -9px rgba(0,0,0,0.59);
}

.postViewTitle{
	margin: 15px;
	background-color: black;
	border: 1px solid black;
	padding: 10px;
	
}
hr.style1 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style1:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}