/*Post View CSS*/

.postView{
	background-color: white;
	height: absolute;
}
.postViewContent{
	margin-top: 100px;
	margin-left: 80px;
	margin-right: 75px;
	text-align: center;
	border: 1px solid black;
	padding: 40px;
}
hr.style1 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style1:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}