/*profile css*/
/*profile css*/
@keyframes appear{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes slide{
	from{top: -100%;}
	to{bottom: 0;}
}
@keyframes slide-right{
	from{left: -100%;}
	to{right: 0;}
}
div#profile-form{
	margin: 0px auto;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 10px;
	background-color: #062f4f;
	height: 1000px;
	width: 950px;
	right: 0;
	left: 0;
	animation: slide-right 1s;
	display: flex;
	position: absolute;
	box-shadow: 15px 15px 75px -10px rgba(0,0,0,0.75);
}
.profile-photo{
	width: 600px;
	background: transparent;
	margin: 50px 0px;
	padding: 50px;
	
}
.profile-photo img{
	height: 160px;
	width: 160px;
	box-shadow: 0px 0px 8px black;
	border-radius: 100em;
	float: left;
}

.profile-photo h3{
	font: 20px Facile Sans;
	color: #159285;
	text-shadow: 0px 0px 7px black;
}
.profile-photo h4{
	font: 18px Geosanslight;
	color: white;
}
.profile-info{
	width:40%;
	float: left;
	border: 2px solid white;
	margin: 5% 1.5%;
	padding: 5%;
	background-image: url("../images/profileinfo.png");
}
.profile-info h3{
	font: 20px Geosanslight;
	color: white;
}
.profile-info img{
	height: 150px;
	width: 150px;
	border-radius: 99em;
}